# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock
*.log
log.*.txt

# Editor
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.kdev4

# System
.DS_Store
Thumbs.db
